* {
  /* overflow-x: hidden; */
  margin: 0;
  padding: 0;
}
.flex {
  display: flex;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-column-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* background */

.bg-1c {
  background-color: #222;
}

.bg-f4 {
  background-color: #f4cf12;
}

.bg-black {
  background-color: black;
}
/* font color */

.fc-1c {
  color: #1c1c1c;
}

.fc-f4 {
  color: #f4cf12;
}

.fc-white {
  color: white;
}

.fw-bold {
  font-weight: bold;
}

.fs-125 {
  font-size: 0.75rem;
}

.fs-150 {
  font-size: 1rem;
}

.fs-175 {
  font-size: 1.1rem;
}

.fs-200 {
  font-size: 1.4rem;
}

.fs-300 {
  font-size: 2rem;
}

.fs-400 {
  font-size: 2.4rem;
}

.fs-500 {
  font-size: 3rem;
}

.header-special {
  font-size: 3rem;
}

@media (max-width: 730px) {
  .header-special {
    font-size: 4rem;
  }
}

@media (max-width: 570px) {
  .header-special {
    font-size: 2rem;
  }
}

.td-none {
  text-decoration: none;
}

.text-align-center {
  text-align: center;
}

/* border */

.border-radius-15 {
  border-radius: 15px;
}

/* width */

.width10060 {
  width: 60%;
}

.width-65-100 {
  width: 65%;
}

.width-8-100 {
  width: 7%;
}

/* height */
.height-100-vh {
  min-height: 100vh;
}

.height-75-vh {
  min-height: 65vh;
}

.height-100-px {
  min-height: 100px;
}

/* position */

.position-sticky {
  position: sticky;
  top: 0;
}

/* padding */

.padding-3100-3100 {
  padding: 7% 7%;
}

.padding-5100-0100 {
  padding: 5% 0px;
}

/* margin */

.margin-3100-3100 {
  margin: 10% 10%;
}

.phts {
  width: 650px;
}

@media (max-width: 880px) {
  .phts {
    width: 550px;
  }
}
@media (max-width: 750px) {
  .phts {
    width: 450px;
  }
}

@media (max-width: 570px) {
  .phts {
    width: 300px;
  }
}

@media (max-width: 400px) {
  .phts {
    width: 200px;
  }
}
