/* body{
    
} */

#total{
    display: flex;
    justify-content: center;
    margin-top: 1%;
}
#imgMM{
    width: 49%;
}

#imgHoodie{
    width: 46%;
}

#price{
    display:inline-flex;
    background-color: #ffc107;
    border-radius: 5px;
    padding: 1px 5px;
    font-size: 1.3rem;
}

#header, #footer{
    background-color: #F8D7DA;
}